<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/emergency.css" />
    <title>Emergency Submission</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        // url
        localStorage.setItem('url', 'http://localhost:3000');
        var url = localStorage.getItem('url');
        // emergency
        const maleradio = document.getElementById('maleradio');
        const femaleradio = document.getElementById('femaleradio');
        const emergencyForm = document.getElementById('emergencyForm');
        emergencyForm.addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(emergencyForm);
          const registerar_name = formData
            .get('registerar_name')
            .trim()
            .toLowerCase();
          const patient_name = formData
            .get('patient_name')
            .trim()
            .toLowerCase();
          const city = formData.get('city').trim().toLowerCase();
          const contact = formData.get('contact').trim();
          const age = formData.get('age').trim();
          const email = formData.get('email').trim();
          const blood_group = formData.get('blood_group');
          const hospital = formData.get('hospital').trim().toLowerCase();
          if (maleradio.checked == true) {
            var gender = maleradio.value;
          } else {
            gender = femaleradio.value;
          }
          const createEmergencyDto = {
            patient_name: patient_name,
            registerar_name: registerar_name,
            city: city,
            contact: contact,
            email: email,
            blood_group: blood_group,
            age: age,
            gender: gender,
            hospital: hospital,
          };
          try {
            const response = await axios.post(
              url+'/createEmergency',
              createEmergencyDto,
            );
            window.alert('Successfull');
            location.reload()
          } catch (error) {
            console.log(error);
          }
        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="logo">Emergency</div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/emergency">Emergency</a></li>
          <li><a href="/donation">Donation</a></li>
        </ul>
      </div>
    </nav>

    <div class="emergency-form">
      <h2>Submit Emergency Request</h2>
      <form id="emergencyForm">
        <div class="form-group">
          <label for="patient-name">Patient Name:</label>
          <input
            type="text"
            id="patient-name"
            name="patient_name"
            placeholder="Enter patient's name"
            required
          />
        </div>
        <div class="form-group">
          <label for="registrar-name">Registrar Name:</label>
          <input
            type="text"
            id="registrar-name"
            name="registerar_name"
            placeholder="Enter registrar's name"
            required
          />
        </div>
        <div class="form-group">
          <label for="contact">Contact:</label>
          <input
            type="tel"
            id="contact"
            name="contact"
            placeholder="Enter contact number"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input
            type="text"
            id="city"
            name="city"
            placeholder="Enter city"
            required
          />
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input
            type="number"
            id="age"
            name="age"
            placeholder="Enter age"
            required
          />
        </div>
        <div class="form-group">
          <label>Gender:</label>
          <input
            type="radio"
            id="maleradio"
            name="gender"
            value="Male"
            required
          />
          <label for="male">Male</label>
          <input type="radio" id="femaleradio" name="gender" value="Female" />
          <label for="female">Female</label>
        </div>
        <div class="form-group">
          <label for="hospital">Hospital:</label>
          <input
            type="text"
            id="hospital"
            name="hospital"
            placeholder="Enter hospital"
            required
          />
        </div>
        <div class="form-group">
          <label for="blood-group">Blood Group:</label>
          <select id="blood-group" name="blood_group" required>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
  </body>
</html>
