<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/emergencyAdmin.css" />
    <title>Emergency Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        localStorage.setItem('url', 'http://localhost:3000');
        var url = localStorage.getItem('url');
        // list emergency
        try {
          const response = await axios.get(
            url+'/admin/listemergency',
          );
          const tableBody = document.getElementById('tableBody');
          response.data.map((item) => {
            const row = `<tr>
            <td>${item.patient_name}</td>
            <td>${item.registerar_name}</td>
            <td>${item.contact}</td>
            <td>${item.city.city}</td>
            <td>${item.email}</td>
            <td>${item.age}</td>
            <td>${item.hospital}</td>
            <td>${item.blood_group}</td>
            <td>${item.status}</td>
            <td class="action-buttons">
                    <button class="watched" value = "${item.id}" id = "${item.id}">Watched</button>
                    <button class="delete" value = "${item.id}" , id = "${item.id}">Delete</button>
                </td>
            </tr>`;
            tableBody.insertAdjacentHTML('beforeend', row);
          });
        } catch (error) {
          console.log(error);
          const row = `<h1 style="text-align:right">${'No Emergency Found'}</h1>`;
          tableBody.insertAdjacentHTML('beforeend', row);
        }
        // delete emergency
        const statusButton = document.getElementsByClassName('watched');
        for (let i = 0; i < statusButton.length; i++) {
          statusButton[i].addEventListener('click', async (event) => {
            try {
              const id = parseInt(event.target.id);
              console.log(id);
              const changeStatusDto = {
                id: id,
              };
              const response = await axios.post(
                url+'/admin/changestatus',
                changeStatusDto,
              );
              window.alert('updated');
              location.reload();
            } catch (error) {
              console.log(error);
            }
          });
        }
        // change status
        const deleteButton = document.getElementsByClassName('delete');
        for (let i = 0; i < deleteButton.length; i++) {
          deleteButton[i].addEventListener('click', async (event) => {
            try {
              const id = parseInt(event.target.id);
              const deleteEmergencyDto = {
                id: id,
              };
              const response = await axios.post(
                url+'/admin/deleteemergency',
                deleteEmergencyDto,
              );
              window.alert('Deleted');
              location.reload();
            } catch (error) {
              console.log(error);
            }
          });
        }
      });
    </script>
  </head>
  <body>
    <nav class="navbar">
      <nav class="navbar">
        <div class="navbar-container">
          <div class="logo">Emergency</div>
          <ul class="nav-links">
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/city">City</a></li>
            <li><a href="/admin/emergency">Emergency</a></li>
            <li><a href="/admin/donation">Donation</a></li>
          </ul>
        </div>
      </nav>
    </nav>

    <div class="emergency-table">
      <h2>Emergency Requests</h2>
      <table id="tableBody">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Registrar Name</th>
            <th>Contact</th>
            <th>City</th>
            <th>Email</th>
            <th>Age</th>
            <th>Hospital</th>
            <th>Blood Group</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</html>
