<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <title>Home</title>
  <style>
   
  </style>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/donation">Donation</a></li>
      <li><a href="/emergency">Emergency</a></li>
    </ul>
  </nav>

  <h1>Welcome to the Home Page!</h1>




</body>

</html>