<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <h1 class="logo">Blood Donation</h1>
        <ul class="nav-links">
          <li><a href="/home">Home</a></li>
          <li><a href="/emergency">Emergency</a></li>
          <li><a href="/donation">Donation</a></li>
        </ul>
      </div>
    </nav>

    <header class="hero">
      <h1>Welcome to Our Website</h1>
      <p>Your Source for Emergency and Donations registerations</p>
      <a href="/emergency" class="cta-button">Emergency</a>
      <a href="/donation" class="cta-button">Donate</a>
      <a href="/login" class="cta-button">Admin</a>
    </header>

    <section class="content">
      <h2>About Us</h2>
      <p>
        This project is created by Rushil Gupta.
        This project is created as a part of college Project.
        To get the source code of project please contact <a href="mailto:rushil.gupta3@gmail.com">Send Mail</a>
      </p>
    </section>
  </body>
</html>
