<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/successEmergency.css" />
    <title>Emergency Request Submitted</title>
  </head>
  <body>
    <div class="success-message">
      <h2>Emergency Request Submitted</h2>
      <p>Your emergency request has been successfully submitted.</p>
      <div class="nav-buttons">
        <a href="/blooddonation" class="nav-button">Home</a>
        <a href="/emergency" class="nav-button">Emergency</a>
        <a href="/home" class="nav-button">Donation</a>
      </div>
    </div>
  </body>
</html>
