<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/successUpdateDonation.css" />
    <title>Update Donation Successful</title>
  </head>
  <body>
    <div class="success-message">
      <h2>Donation Updated Successfully</h2>
      <div class="nav-buttons">
        <a href="/list-city" class="nav-button">City</a>
        <a href="/admindonation" class="nav-button">Donation</a>
        <a href="/emergencyadmin" class="nav-button">Emergency</a>
      </div>
    </div>
  </body>
</html>
